{% extends "base.html" %}
{% load static %}

{% block title %}Database Fitness{% endblock %}
{% block image %}Database Fitness{% endblock %}
{% block home %}active{% endblock %}

{% block content %}

<!-- About section -->
<section id="about">
    <h1>About</h1>
    <p>Welcome to our fitness hub, a dedicated platform for fitness enthusiasts to collaborate, learn, and grow. Here,
        you have the opportunity to contribute your unique insights and experiences, engage with other users' posts, and
        develop customized fitness plans that suit your individual goals.</p>
    <p>In our <strong>Community</strong> section, you can share posts on diverse fitness topics and interact with
        like-minded individuals. It's a space to learn from others and contribute your own knowledge to help others on
        their fitness journey.</p>
    <p>The <strong>Plans</strong> section allows you to discover a range of fitness plans crafted by our community
        members, with options to suit a variety of fitness levels, goals, and preferences. You can also create your own
        plans and share them with the community.</p>
    <p>Our mission is to foster a supportive and knowledgeable community that encourages fitness growth for everyone,
        regardless of where you are in your fitness journey. We are excited to have you here, and we can't wait to see
        what you achieve!</p>
</section>

<!-- Sections -->
<section id="sections">
    <div class="row">
        <!-- Community section -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card card-style">
                <img src="{{ MEDIA_URL }}community.jpeg" class="card-img-top" alt="Community">
                <div class="card-body">
                    <h2 class="card-title">Community</h2>
                    <p class="card-text">Our community section is where members share posts on a range of
                        fitness-related topics. You can read what others have posted, interact with members by
                        commenting, and grow together in your fitness journeys.</p>
                    <a class="btn btn-primary" href="{% url 'community:community' %}" role="button">View Posts</a>
                </div>
            </div>
        </div>

        <!-- Plans section -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card card-style">
                <img src="{{ MEDIA_URL }}plans.jpeg" class="card-img-top" alt="Plans">
                <div class="card-body">
                    <h2 class="card-title">Plans</h2>
                    <p class="card-text">In the plans section, you can discover a variety of expertly-crafted fitness
                        plans tailored to suit your unique goals and preferences. You can also create your own plans and
                        share them with the community.</p>
                    <a class="btn btn-primary" href="{% url 'plans:plans' %}" role="button">View Plans</a>
                </div>
            </div>
        </div>

        <!-- Contact section -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card card-style">
                <img src="{{ MEDIA_URL }}contact.png" class="card-img-top" alt="Contact">
                <div class="card-body">
                    <h2 class="card-title">Contact</h2>
                    <p class="card-text">If you have any questions, comments, or feedback, feel free to reach out. We'd
                        love to hear from you.</p>
                    <a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact Us</a>
                </div>
            </div>
        </div>

        <!-- Donate section -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card card-style">
                <img src="{{ MEDIA_URL }}donate.webp" class="card-img-top" alt="Donate">
                <div class="card-body">
                    <h2 class="card-title">Donate</h2>
                    <p class="card-text">Support our mission to make fitness accessible for everyone. Your donations
                        help keep our community running.</p>
                    <a class="btn btn-primary" href="{% url 'donate' %}" role="button">Donate</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}