{% extends "base.html" %}
{% load static %}

{% block title %}Add Comment{% endblock %}
{% block image %}Add Comment{% endblock %}
{% block community %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" class="add-comment mb-3">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}