{% extends "base.html" %}
{% load static %}

{% block title %}Category Posts{% endblock %}
{% block image %}Category Posts{% endblock %}
{% block community %}active{% endblock %}


{% block content %}
<section class="categories">
    <p>Please find posts for the {{ category.name }} category below:</p>
</section>

<div class="table-container">
<table class="table table-bordered table-hover table-style">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th class="break-word d-none d-sm-table-cell">Comments</th> 
            <th class="break-word d-none d-md-table-cell">Date Posted</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr data-href="{% url 'community:post_detail' post.id %}">
            <td class="break-word">{{ post.title }}</td>
            <td class="break-word">{{ post.author.profile_user.username }}</td>
            <td class="break-word d-none d-sm-table-cell">{{ post.comment_count }}</td>
            <td class="break-word d-none d-md-table-cell">{{ post.created_at|date:'Y-m-d H:i' }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No posts available in this category.</td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% if user.is_authenticated %}
<div class="add-post">
<a href="{% url 'community:add_post' %}" class="btn btn-primary">Add Post</a>
</div>
{% endif %}

{% endblock %}

{% block endscripts %}
<script>
$(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}
