{% extends "base.html" %}
{% load static %}

<!-- block tags for title/image/active class -->
{% block title %}Community{% endblock %}
{% block image %}Community{% endblock %}
{% block community %}active{% endblock %}

<!-- block content -->
{% block content %}
<section class="categories">
    <h2>Categories</h2>
    <p> All users are able to view the various health and fitness categories below. To view a category, simply click
        into the table for the posts within that category.</p>
    {% if not request.user.is_authenticated %}
    <p>In order to contribute to this community, you'll first need
        to <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a></p>
    {% endif %}
</section>

<div class="table-container">
<table class="table table-bordered table-hover table-style">
    <thead class="thead-dark">
        <tr>
            <th>Category Name</th>
            <th class="d-none d-md-table-cell">Description</th>
            <th>Number of Posts</th>
            <th class="d-none d-sm-table-cell">Latest Post</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr data-href="{% url 'community:community_category' category.id %}">
            <td class="break-word">{{ category.name }}</td>
            <td class="break-word d-none d-md-table-cell">{{ category.description }}</td>
            <td class="break-word">{{ category.num_posts }}</td>
            <td class="break-word d-none d-sm-table-cell">{{ category.latest_post_date|default:'N/A'|date:'Y-m-d H:i' }}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No categories available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>



{% if user.is_authenticated %}
<div class="add-post">
<a href="{% url 'community:add_post' %}" class="btn btn-primary">Add Post</a>
</div>
{% endif %}

{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function ($) {
        $('*[data-href]').on('click', function () {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}