{% extends "base.html" %}
{% load static %}

<!-- block tags for title/image/active class -->
{% block title %}Edit Category{% endblock %}
{% block image %}Edit Category{% endblock %}
{% block profile %}active{% endblock %}

<!-- block content -->
{% block content %}
<div class="container" id="community-edit-category">
    <div class="row">
        <div class="col-12">
            <!-- form to edit category -->
            <form method="post" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Update Category</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}