{% extends "base.html" %}
{% load static %}

{% block title %}My Posts{% endblock %}
{% block image %}My Posts{% endblock %}
{% block profile %}active{% endblock %}

{% block content %}
<div class="my-posts-container">
    <h2>Posts</h2>
    <p>This table lists all the posts you have added to the community section. Each entry shows the title, category, and
        date of the post. It also includes actions to edit or delete the post.</p>
    <p><strong>Note:</strong> The category and date columns are hidden on small and medium screens, respectively.</p>
    <a href="{% url 'community:add_post' %}" class="btn btn-primary" id="my-posts-add">Add Post</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th class="d-none d-sm-table-cell">Category</th>
                <th class="d-none d-md-table-cell">Date Posted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr data-href="{% url 'community:post_detail' post.id %}">
                <td class="break-word">{{ post.title }}</td>
                <td class="break-word d-none d-sm-table-cell">{{ post.category.name }}</td>
                <td class="break-word d-none d-md-table-cell">{{ post.created_at|date:'Y-m-d H:i' }}</td>
                <td>
                    <a href="{% url 'community:edit_post' post.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'community:delete_post' post.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">You haven't made any posts yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Comments</h2>
    <p>This table lists all the comments you have added to the community posts. Each entry shows the comment text, the
        associated post, and the date of the comment. It also includes actions to edit or delete the comment.</p>
    <p><strong>Note:</strong> The post and date columns are hidden on small and medium screens, respectively.</p>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Comment</th>
                <th class="d-none d-sm-table-cell">Post</th>
                <th class="d-none d-md-table-cell">Comment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr data-href="{% url 'community:post_detail' comment.post.id %}">
                <td class="break-word">{{ comment.content }}</td>
                <td class="break-word d-none d-sm-table-cell">{{ comment.post.title }}</td>
                <td class="break-word d-none d-md-table-cell">{{ comment.created_at|date:'Y-m-d H:i' }}</td>
                <td>
                    <a href="{% url 'community:edit_comment' comment.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'community:delete_comment' comment.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">You haven't made any comments yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function ($) {
        $('*[data-href]').on('click', function () {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}