{% extends "base.html" %}
{% load static %}
{% block title %}Post{% endblock %}
{% block image %}Post{% endblock %}
{% block community %}active{% endblock %}
{% block content %}
<div class="card mb-4 shadow-sm bg-light post-detail-style">
    <div class="card-body">
      <h2>{{ post.title }}</h2>
      <p class="card-text">Category: {{ post.category.name }}</p>
      <p class="card-text">Author: {{ post.author.profile_user_name|default:post.author.profile_user.username }} | Date: {{ post.created_at|date:'Y-m-d H:i' }}</p>
    </div>
  </div>
<div class="card mb-4 shadow-sm bg-light post-detail-style">
  <div class="card-body">
    <h2>Post:</h2>
    <p class="card-text">{{ post.content }}</p>
  </div>
</div>
<div class="card mt-3 post-detail-style">
    <div class="card-header d-flex justify-content" id="commentsHeading" data-toggle="collapse" data-target="#commentsCollapse" aria-expanded="false" aria-controls="commentsCollapse" style="cursor: pointer;">
        <h2 class="mb-0">Comments</h2>
        <i class="fa-solid fa-square-caret-down"></i>
      </div>
  <div id="commentsCollapse" class="collapse" aria-labelledby="commentsHeading">
    <div class="card-body">
      {% if comments %}
      <ul>
        {% for comment in comments %}
        <li>
          <p><strong>{{ comment.author.profile_user_name|default:comment.author.profile_user.username }}</strong> - Date: {{ comment.created_at|date:'Y-m-d H:i' }}</p>
          <p>{{ comment.content }}</p>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No comments yet.</p>
      {% endif %}
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="add-comment">
<a href="{% url 'community:add_comment' post_id=post.id %}" class="btn btn-primary">Add Comment</a>
</div>
{% endif %}
{% endblock %}