{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- meta -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/3a4b056afd.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body class="body">
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">TITLE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block home %}{% endblock %}">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item {% block community %}{% endblock %}">
                        <a class="nav-link" href="{% url 'community:community' %}">Community</a>
                    </li>
                    <li class="nav-item dropdown {% block plans %}{% endblock %}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Plans
                        </a>
                        <div class="dropdown-menu">
                            <p>Categories:</p>
                            {% for category in categories %}
                            <a href="{% url 'plans:plans' %}?category={{ category.name }}" class="dropdown-item">
                                {{ category.name }}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'plans:plans' %}" class="dropdown-item">All Plans</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'plans:plan_management' %}" class="dropdown-item">Plan Management</a>
                            <a href="{% url 'community:community_management' %}" class="dropdown-item">Community
                                Management</a>
                            <a href="{% url 'contact_management' %}" class="dropdown-item">Contact Management</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'plans:my_plans' %}" class="dropdown-item">My Plans</a>
                            <a href="{% url 'community:my_posts' %}" class="dropdown-item">My Posts</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item {% block contact %}{% endblock %}">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donate' %}">Donate</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- Image with title -->
    <div class="header_image">
        <img src="{{ MEDIA_URL }}health.jpeg" alt="Fitness">
        <div class="header_central">
            <h1>{% block image %}{% endblock %}</h1>
        </div>
    </div>





    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3 main-footer">

                    <!-- column 1 -->
                    <div class="col-md-12 col-lg-4 mx-auto mb-4">
                        <!-- column header -->
                        <h6 class="text-uppercase fw-bold mb-4">TEST</h6>
                        <!--  column content-->
                        <p>TESTESTESTTESTESTESTTESTESTESTTESTESTEST</p>
                        <p>TESTESTESTTESTESTESTTESTESTESTTESTESTEST</p>
                        <p>TESTESTESTTESTESTESTTESTESTESTTESTESTEST</p>
                        <p>TESTESTESTTESTESTESTTESTESTESTTESTESTEST</p>
                    </div>
                    <!-- column 2 -->
                    <div class="col-md-12 col-lg-4 mx-auto mb-4">
                        <!-- column header -->
                        <h6 class="text-uppercase fw-bold mb-4">TESTESTEST</h6>
                        <!--  column content-->
                        <p><a href="" class="">TEST</a></p>
                        <p><a href="" class="">TEST</a></p>
                        <p><a href="" class="">TEST</a></p>
                        <p><a href="" class="">TEST</a></p>
                    </div>
                    <!-- column 3 -->

                    <div class="col-md-12 col-lg-4 mx-auto mb-md-0 mb-4">
                        <!-- column header -->
                        <h6 class="text-uppercase fw-bold mb-4">TEST</h6>
                        <!--  column content-->
                        <p>TEST</p>
                        <p>TEST</p>
                        <p>TEST</p>
                        <p>TEST</p>
                    </div>

                </div>
        </section>
        <!-- Footer bottom -->
        <div class="text-center p-4 footer-bottom">TEST</div>
    </footer>





    <!-- bootstrap script-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <!-- jquery script-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block endscripts %}
    {% endblock %}
</body>

</html>