{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block image %}Contact Management{% endblock %}
{% block title %}Contact Management{% endblock %}
{% block profile %}active{% endblock %}

{% block content %}
<div class="contact-management-container">
<h2>Contact Forms</h2>
<p>This table allows administrators to view all contact forms submitted through the system. It displays each form's
    name, email, date of creation, last update, and status.</p>
<p>Administrators also have the ability to delete each contact form right from this table using the Delete button. </p>
<p>By clicking into the row, this will also take the site administrator into the relevant contact form's update page</p>
<p>NOTE: the email, date of creation and last update columns will not be displayed as the screen size decreases.</p>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th class="d-none d-sm-table-cell">Email</th>
            <th class="d-none d-md-table-cell">Created</th>
            <th class="d-none d-lg-table-cell">Updated</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for contact_form in contact_forms %}
        <tr data-href="{% url 'update_contact_form' contact_form.id %}">
            <td class="break-word">{{ contact_form.name }}</td>
            <td class="break-word d-none d-sm-table-cell">{{ contact_form.email }}</td>
            <td class="break-word d-none d-md-table-cell">{{ contact_form.created_at }}</td>
            <td class="break-word d-none d-lg-table-cell">{{ contact_form.updated_at }}</td>
            <td>{{ contact_form.status }}</td>
            <td>
                <a href="{% url 'delete_contact_form' contact_form.id %}" class="btn btn-danger"
                    onclick="event.stopPropagation();">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function ($) {
        $('*[data-href]').on('click', function () {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}