{% extends "base.html" %}
{% load static %}

<!-- block image/title/active -->
{% block title %}Contact Success{% endblock %}
{% block image %}Contact Success{% endblock %}
{% block contact %}active{% endblock %}

<!-- block content -->
{% block content %}
<div class="contact-success-page">
    <p>Thanks - we've received your contact form.</p>
    <p>A member of the site administration team will review your message and get back to you in due course.</p>
    <a class="btn btn-primary" href="{% url 'home' %}" role="button">Return to the Homepage</a>
</div>
{% endblock %}