{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Contact Management{% endblock %}

{% block content %}
<h1>Contact Management</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for contact_form in contact_forms %}
        <tr>
            <td>{{ contact_form.name }}</td>
            <td>{{ contact_form.email }}</td>
            <td>{{ contact_form.message }}</td>
            <td>
                <a href="">Update</a>
                <a href="{% url 'delete_contact_form' contact_form.id %}">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}