{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- block image/title/active -->
{% block title %}Add Plan{% endblock %}
{% block image %}Add Plan{% endblock %}
{% block plans %}active{% endblock %}

<!-- block content -->
{% block content %}
<div class="container add-plan-margin">
    <div class="row">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data" class="mb-4">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Add Plan</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
