{% extends "base.html" %}
{% load static %}

{% block title %}Edit Comment{% endblock %}
{% block image %}Edit Comment{% endblock %}
{% block profile %}active{% endblock %}

{% block content %}
<div class="container" id="edit-comment-margin">
    <div class="row">
        <div class="col-12">
            <form method="post" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Update Comment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}