{% extends "base.html" %}
{% load static %}

<!-- block image/title/active -->
{% block title %}My Plans{% endblock %}
{% block image %}My Plans{% endblock %}
{% block profile %}active{% endblock %}

<!-- block content -->
{% block content %}
<div class="my-plans-management-container">
    <h2>Plans</h2>
    <p>This table displays all the plans that you've created. It shows the title of each plan, the category it belongs
        to, and the date it was posted.</p>
    <p>You also have the ability to manage your plans directly from this table by editing or deleting them using the
        Edit and Delete buttons.</p>
    <p>NOTE: the category and date posted columns will not be displayed for small and medium screen sizes, respectively.
    </p>
    <a href="{% url 'plans:add_plan' %}" class="btn btn-primary" id="add-my-plan">Add Plan</a>
    <!-- my plans table -->
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th class="break-word d-none d-sm-table-cell">Category</th>
                <th class="break-word d-none d-md-table-cell">Date Posted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in plans %}
            <tr data-href="{% url 'plans:plan_description' plan.id %}">
                <td class="break-word">{{ plan.name }}</td>
                <td class="break-word d-none d-sm-table-cell">{{ plan.category.name }}</td>
                <td class="break-word d-none d-md-table-cell">{{ plan.date_posted|date:'Y-m-d H:i' }}</td>
                <td>
                    <a href="{% url 'plans:edit_plan' plan.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'plans:delete_plan' plan.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">You haven't made any plans yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Comments</h2>
    <p>This table displays all the comments that you've made on different plans. It shows the content of each comment,
        the title of the plan it's associated with, and the date the comment was made.</p>
    <p>Just like with your plans, you can also edit or delete your comments directly from this table using the Edit and
        Delete buttons.</p>
    <p>NOTE: the plan title and comment date columns will not be displayed for small and medium screen sizes,
        respectively.</p>
    <!-- my comments table -->
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Comment</th>
                <th class="d-none d-sm-table-cell">Plan</th>
                <th class="d-none d-md-table-cell">Comment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr data-href="{% url 'plans:plan_description' comment.plan.id %}">
                <td class="break-word">{{ comment.content }}</td>
                <td class="break-word d-none d-sm-table-cell">{{ comment.plan.name }}</td>
                <td class="break-word d-none d-md-table-cell">{{ comment.created_at|date:'Y-m-d H:i' }}</td>
                <td>
                    <a href="{% url 'plans:edit_comment' comment.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'plans:delete_comment' comment.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">You haven't made any comments yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function ($) {
        $('*[data-href]').on('click', function () {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}