{% extends "base.html" %}
{% load static %}

<!-- block image/title/active -->
{% block title %}Plan{% endblock %}
{% block image %}Plan{% endblock %}
{% block plans %}active{% endblock %}

<!-- block content -->
{% block content %}
<div class="card mb-4 shadow-sm bg-light plan-detail-style">
    <div class="card-body">
        <h2>{{ plan.name }}</h2>
        <p class="card-text">Category: {{ plan.category.name }}</p>
        <p class="card-text">Author: {{ plan.author.profile_user_name|default:plan.author.profile_user.username }} | Posted: {{ plan.date_posted|date:'Y-m-d H:i' }}</p>
    </div>
</div>

{% if plan.image_field %}
<div class="card mb-4 shadow-sm bg-light plan-detail-style">
    <div class="card-body">
        <img src="{{ plan.image_field.url }}" class="card-img-top" alt="{{ plan.name }}">
    </div>
</div>
{% endif %}

<div class="card mb-4 shadow-sm bg-light plan-detail-style">
    <div class="card-body">
        <h2>Plan Description</h2>
        <p class="card-text">{{ plan.description }}</p>
    </div>
</div>

<div class="card mb-4 shadow-sm bg-light plan-detail-style">
    <div class="card-header d-flex justify-content" id="planCommentsHeading" data-toggle="collapse" data-target="#planCommentsCollapse"
        aria-expanded="false" aria-controls="planCommentsCollapse" role="button" style="cursor: pointer;">
        <h2 class="mb-0">Comments</h2>
        <i class="fa-solid fa-square-caret-down"></i>
    </div>
    <div id="planCommentsCollapse" class="collapse" aria-labelledby="planCommentsHeading">
        <div class="card-body">
            {% if comments %}
            <ul>
                {% for comment in comments %}
                <li>
                    <p><strong>{{ comment.author.profile_user_name|default:comment.author.profile_user.username }}</strong> - {{ comment.created_at|date:'Y-m-d H:i' }}</p>
                    <p>{{ comment.content }}</p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No comments yet.</p>
            {% endif %}
        </div>
    </div>
</div>


{% if user.is_authenticated %}
<div class="add-plan-comment">
<a href="{% url 'plans:add_comment' plan_id=plan.id %}" class="btn btn-primary">Add Comment</a>
</div>
{% endif %}
{% endblock %}