{% extends "base.html" %}
{% load static %}

{% block title %}Plans{% endblock %}
{% block image %}Plans{% endblock %}
{% block plans %}active{% endblock %}

{% block content %}

<div id="plans-intro">
    <p>Welcome to our dedicated space for sharing and discussing community-contributed fitness plans. Each plan
        displayed on this page reflects the unique insights and strategies of our diverse community members, who are
        united by a shared passion for fitness and wellness.</p>

    <p>To help you navigate this vast collection of plans, we've integrated user-friendly search and sort
        functionalities. Our search functionality allows you to filter through the list to find the
        perfect plan that resonates with your fitness vision. The sort functionality provides an additional layer of
        customization. Arrange the plans according to factors that
        matter most to you, such as name or category. This feature ensures that you're not just finding any plan, but
        the
        right plan for you.</p>
    {% if request.user.is_authenticated %}
    <div class="add-plan">
        <a href="{% url 'plans:add_plan' %}" class="btn btn-primary mb-3">Add Plan</a>
    </div>
    {% else %}
    <p>In order to contribute the these plans, such as commenting on existing plans, or creating your own plans, you'll
        first need
        to <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a></p>
    {% endif %}
</div>

<div class="search-container bg-light">
    <form method="GET" action="{% url 'plans:plans' %}" class="plans-style">
        <div class="input-group">
            <label for="q">Search:</label>
            <input class="form-control" type="text" name="q" placeholder="Search for Plans">
            <button class="btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <form method="GET" action="{% url 'plans:plans' %}" class="plans-style">
        <div class="input-group">
            <label for="sort_by">Sort by:</label>
            <select name="sort_by" id="sort_by" onchange="this.form.submit()">
                <option value="default" {% if current_sort_by == "default" %}selected{% endif %}>Default</option>
                <option value="name_asc" {% if current_sort_by == "name_asc" %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sort_by == "name_desc" %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sort_by == "category_asc" %}selected{% endif %}>Category (A-Z)
                </option>
                <option value="category_desc" {% if current_sort_by == "category_desc" %}selected{% endif %}>Category
                    (Z-A)
                </option>
            </select>
        </div>
    </form>
</div>
<div class="row" id="plans-section">
    {% for plan in plans %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="{% url 'plans:plan_description' plan.id %}" class="text-decoration-none text-dark">
            <div class="card plans-card-style">
                {% if plan.image_field %}
                <img src="{{ plan.image_field.url }}" class="card-img-top" alt="{{ plan.name }}">
                {% else %}
                <img src="{{ MEDIA_URL }}health.jpeg" class="card-img-top" alt="{{ plan.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ plan.name }}</h5>
                    <p class="card-text">Category: {{ plan.category }}</p>
                    <p class="card-text">Author: {{ plan.author.profile_user_name|default:plan.author.profile_user.username }}</p>
                </p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}